<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- word-wrap -->
        <p class="normal">
            This paragraph has a long word:
            thisisaveryverylongwordbutyoucantfinditinthedictionary.
        </p>

        <p class="break-word">
            This paragraph has a long word:
            thisisaveryverylongwordbutyoucantfinditinthedictionary.
        </p>

        <!-- font-face Rule -->
        <h1>This is Our Headline</h1>
    </head>
</html>