<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- floating property
        <div>
            This text is inside the div element, whic has a blue background color and is floated to the left. We set a specific height and width for the div element, and as you can see, the content cannot fit.
        </div>

    -->
    <!-- z-fold property -->
        <div class="blue">Blue</div>
        <div class="red">Red</div>

    </head>
</html>