.bg{
	height:150px;
	width: 200px;
	border: 1px solid #000;
	background: url("http://www.sololearn.com/uploads/css_logo.png") no-repeat 50% 50%;
	background-size: 100px 100px;
}

.contain{
	height: 150px;
	width: 200px;
	border: 1px solid #000;
	background: url("http://www.sololearn.com/uploads/css_logo.png") no-repeat 50% 50%;
	background-size: contain;
}

.cover{
	height: 150px;
	width: 200px;
	border: 1px solid #000;
	background: url("http://www.sololearn.com/uploads/css_logo.png") no-repeat 50% 50%;
	background-size: cover;
}

.first{
	border: 2px dotted black;
	padding: 20px;
	background: lightblue;
	background-clip: padding-box;
}

.second{
	border: 2px dotted black;
	padding: 20px;
	background: lightblue;
	background-clip: content-box;
}

.bg-img{
	background-image: url("http://www.sololearn.com/uploads/css_logo.png");
	background-clip: content-box;
	border: 2px dotted black;
	padding: 20px;
}