<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- Radial Gradients 
        <div class="rad_grad">
            Radial Gradient :)
        </div>-->

        <!-- Setting the Shapes -->
        <!--
        <div class="normal">
            Elipse(Default)
        </div>

        <div class="circle">
            Circle
        </div>

        <div class="first">
            Top Left
        </div>

        <div class="second">
            In Percentages
        </div>-->

        <!-- Color Stops -->
        <div class="colstops">
            Color Stops
        </div>

        </head>
</html>