<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- Linear Gradient -->
        <div class="ling">
            Linear Gradient.
        </div>

        <!-- multi Gradient -->
        <div class="multi">
            multiple colors
        </div>

        <!-- specific color stop -->
        <div class="percol">
            Color Stops.
        </div>

        <!-- Direction of Gradient -->
        <div class="l2r">
            Left to Right
        </div>

        <div class="B2t">
            Bottom to Top
        </div>

        <!-- Gradient at angle -->
        <div class="bottom_l">
            Bottom Left
        </div>

        <div class="hundeg">
            100deg
        </div>

        <!-- Repeating Linear Gradient -->
        <div class="repg">
            Repeating Gradient.
        </div>
    </head>
</html>