<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- css3 round -->
        <!-- Vendor Prefixes -->
        <div class="round">
            Rounded corners.!
        </div>

        <!--Border radius -->
        <div class="fillr">
            Rounded Corners
        </div>

        <!-- only bottom rounded -->
        <div class="bottomr">
            Only Bottom Rounded
        </div>

        <div class="circle">
            Circles
        </div>

        <div class="shady"></div>

        <div class="blur"></div>

        <div class="blurnve"></div>

        <div class="inset"></div>

        <div class="mulin"></div>

        <div class="layering"></div>
    </head>
</html>