<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <!-- Text Shadow -->
        <h1>This text has two shadows</h1>

        <!-- Pseudo Class -->
        <div id="parent">
            <p>First Paragraph</p>
            <p>Second Paragraph</p>
            <p>Third Paragraph</p>
            <p>Fourth Paragraph</p>
        </div>

        <!-- Pseudo Element(::) -->
        <p>The following example demonstrates how to use the ::first-line element in the document.</p>

        <p>
            You can insert text, images, and other resources using <strong>:before</strong>pseudo element.
        </p>

    </head>
</html>