<!doctype html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "icon" href = 
"https://flask-emo.herokuapp.com/static/images/1.png" 
        type = "image/x-icon">
    	<title>{{title}}</title>

        <h2>Image Stuff</h2>
        <p>
            <img src="http://www.sololearn.com/uploads/css_logo.png">
            This paragraph has an image that is floated to the <strong>right.</strong>It is highly recommended to add a margin to images so that the text does not get too close to the image. If you want your text to be easily read, you should always add a few pixels between words and borders, images, and other content.
        </p>
    </head>
</html>